# Default values for nutanix-csi-storage.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

# parameters

# Legacy mode
#
# if legacy set to true we keep the old reverse domain notation for CSI driver name (com.nutanix.csi).
# need to be set to true only if upgrade and initialy installed with helm package before 2.2.x
legacy: false

# Openshift settings
#

openshift:
  scc: false
  masterIscsiConfig: false
  workerIscsiConfig: false

# kubeletDir allows overriding the host location of kubelet's internal state.
kubeletDir: "/var/nutanix/var/lib/kubelet"

# Global Settings for all pods

# csiSecretDir is the directory where PC (Prism Central) secret is mounted.
csiSecretDir: "/var/run/ntnx-secret-dir"

nodeSelector: {}
tolerations: []
imagePullPolicy: IfNotPresent

# Storage Class settings
#
# choose for which mode (Volume, File, Dynamic File) storageclass need to be created
volumeClass: true
volumeClassName: "nutanix-volume"
volumeClassRetention: "Delete"
# volumeClassDescription: ""

fileClass: false
fileClassName: "nutanix-file"
fileClassRetention: "Delete"

dynamicFileClass: false
dynamicFileClassName: "nutanix-dynamicfile"
dynamicFileClassRetention: "Delete"
# dynamicFileClassDescription: ""

# Default Storage Class settings
#
# Decide wich storageclass will be the default
# value are: node, volume, file, dynfile
defaultStorageClass: none

# Nutanix Prism Central settings
#
# Allow dynamic creation of Volumes and Fileshare
# needed if volumeClass or dynamicFileClass is set to true

prismEndPoint: 10.45.34.226

username: admin
password: Nutanix.123

secretName: ntnx-pc-secret

# Nutanix Prism Element Secret which is used by dynamicFileClass.
# The user needs to create this secret.
peSecretName: ntnx-pe-secret

# Nutanix Prism Central Existing Secret
#
# if set to false a new secret will not be created
createSecret: true


# Volumes Settings
#
storageContainer: default-container-33951
fsType: ext4

lvmVolume: false
lvmDisks: 4

networkSegmentation: false

# Files Settings
#
fileHost: 10.0.0.3
filePath: share

# Dynamic Files Settings
#
fileServerName: file


# Volume metrics and CSI operations metrics configuration
#

servicemonitor:
  enabled: false
  labels:
    # This should match the serviceMonitorSelector logic configured
    # on the prometheus.
    k8s-app: csi-driver


# Pod pecific Settings
#

provisioner:
  image: quay.io/karbon/ntnx-csi:pc_rc0
  nodeSelector: {}
  tolerations: []

node:
  image: quay.io/karbon/ntnx-csi:pc_rc0
  nodeSelector: {}
  tolerations: []

sidecars:
  registrar:
    image: k8s.gcr.io/sig-storage/csi-node-driver-registrar:v2.2.0
  provisioner:
    image: k8s.gcr.io/sig-storage/csi-provisioner:v3.1.0
  attacher:
    image: k8s.gcr.io/sig-storage/csi-attacher:v3.4.0
  snapshotter:
    image: k8s.gcr.io/sig-storage/csi-snapshotter:v4.2.1
    imageBeta: k8s.gcr.io/sig-storage/csi-snapshotter:v3.0.3
  resizer:
    image: k8s.gcr.io/sig-storage/csi-resizer:v1.4.0
  livenessprobe:
    image: k8s.gcr.io/sig-storage/livenessprobe:v2.3.0
  healthmonitor:
    image: gcr.io/k8s-staging-sig-storage/csi-external-health-monitor-controller:v0.4.0
