name: Linting Charts

on:
  push

jobs:
  linting:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Set up chart-testing
        uses: helm/chart-testing-action@v2.1.0

      - name: Run chart-testing (lint-changed)
        id: list-changed
        run: |
          changed=$(ct list-changed)
          if [[ -n "$changed" ]]; then
            echo "::set-output name=changed::true"
          fi

      - name: Run chart-testing (lint)
        run: ct lint

      - name: ArtifactHUB Lint
        run: |
          AH_CLI_VERSION=1.1.1
          curl -LO https://github.com/artifacthub/hub/releases/download/v$AH_CLI_VERSION/ah_$AH_CLI_VERSION_linux_amd64.tar.gz
          tar xvzf ah_$AH_CLI_VERSION_linux_amd64.tar.gz
          ./ah lint

